header, main, footer {
    max-width: 1080px;
    margin: 20px auto;
}

header, footer {
    background-color: #008d67;
    border-radius: 15px;
    color: #ffffff;
    text-align: center;
}

head {
    font-family: 'Montserrat', sans-serif;
}

body {
    font-family: "Carter One", sans-serif;
    font-size: 16px;
    line-height: 1.5;
}

h1 {
    font-size: 48px;
    padding: 20px; 
}

img {
    float: right;
    box-shadow: 5px 5px 20px #000000;
}

footer{
    font-size: 14px;
    padding: 5px;
}

footer a {
    color: #ffffff;
}

#update {
    color: #ffd1d1;
}