/*index*/

header, footer {
    background-color: #074135;
    color: #ffffff;
    text-align: center;
    max-width: 100%;
    margin: 0 auto;
}

header {
    font-family: 'Roboto', sans-serif;
}

footer {
    font-family: 'Open Sans', sans-serif;
    padding: 3px;
}

a {
    color: #ffffff;
}

body {
    background-color:#cfd1d0;
 }

 main {
    font-family: 'Open Sans', sans-serif;
    padding: 20px;
    max-width: 1200px;
    width: auto;
    margin: auto;
 }

 h2 {
     text-align: center;
     font-size: 24pt;
     color: #302626;
 }

nav {
    clear: left;
    background-color: #074135;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}

nav a:hover {
    background-color: #cfd1d0;
    color: #000000;
}

nav button {
    background-color: transparent;
    border: none;
    color: #ffffff;
    font-size: 1rem;
    margin: .5rem;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav li a {
    display: block;
    color: #ffffff;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    padding: .95rem;
}

nav ul.hide {
    display: none;
}

.active {
    background-color: #cfd1d0;
    color: #000000;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}


.logo {
   opacity: 0.9;
}

.herodiv {
    margin: 10px auto;
    position: relative;
    width: 100%;
    height: auto;
}

.hero img{
 max-width: 100%;
 display: block;
}

article {
    background-color: #ffffff;
    display: block;
    padding: 10px;
    border-radius: 10px;
    margin: 10px;
    text-align: left;
    height: 300px;
}

.weathersummary {
    display: block;
    width: 200px;
    height: 225px;
    background-color: #074135;
    color: #ffffff;
    opacity: 0.8;
    padding: .5rem;
    box-shadow: 0 0 30px #777;
    border-radius: 10px;
    float: right;
}




/*Navbar on image code source: w3schools.com*/
.bg-img {
    background-image: url("https://snyjen.github.io/final/images/riverheader.jpg");
    min-height: 380px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.container {
    width: 100%;
}

.topnav {
    overflow: hidden;
    background-color: #074135;
    opacity: 0.9;
}


/*json cards*/

.cards {
    display: grid;
    grid-template-columns: auto;
    grid-gap: 15px;
}

.cards section {
    background-color: #ffffff;
    width: 90%;
    margin: auto;
    border-radius: 10px;
    padding: 5px;
    
}
.cards img {
    display: block;
    width: 100%;
    border-radius: 10px; 
}

.cards h3 {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 24pt;
    color:  #302626;
}

.cards h4 {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 12pt;
    font-style: italic;
    color:  #302626;
}

.cards p {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
  
}

/*forms*/

.map {
    display: flex;
    
}

form fieldset {
    margin: 2rem 0;
    border: 2px solid #074135;
    border-radius: 10px;
    padding: .5rem 2%;
}

form legend {
    font-weight: bold;
    font-size: 1.5rem;
    color: #302626;
    margin: 0 1rem;
    padding: 0 .5rem;
}

form label.top {
    display: block;
    padding-top: 1rem;
    color: #000000;
    font-size: 1rem;
}


form label.top input, form label.top select {
    display: block;
    font-size: 1rem;
    border: solid 1px #999;
    border-radius: 4px;
    padding: .50rem;
    color: #000000;
    width: 90%;
    max-width: 20rem;
    background-color: #ffffff;
}

textarea {
    width: 75%;
    resize: vertical;
}

.area {
    width: 80%;
    padding: 0px;
}

input[type="submit"]:hover {
    background-color: #0c6351;
    color: #ffffff;
}

form input.submitBtn {
    border: none;
    background-color: #074135;
    color: #ffffff;
    border-radius: 1rem;
    padding: .75rem 1.5rem;
    margin: 0 0 2rem 2%;
    width: 96%;
    max-width: 20rem;
}

.required {
    color:#e10000;
}

/*table*/

table, th, td {
    border: 1px solid #b8b9b9;
    border-collapse: collapse;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
}

table {
    box-shadow: 5px 5px 10px #999;
    margin: 0 auto;
}

th, td {
    padding: 10px;
}

thead th {
    background-color: #074135;
}

td {
    color: #302626;
    background-color: #ffffff;
}

thead {
    font-size: 20pt;
    font-weight: bold;
    color: #ffffff;
}

tbody th, td.more {
    background-color: #11866f;
    color: #302626;
}




