* {
    margin: 0;
    box-sizing: border-box;
}

header, main, footer {
    max-width: 1080px;
    margin: 20px auto;
}

header, footer {
    background-color: #008d67;
    border-radius: 10px;
    color: #ffffff;
    text-align: center;
}

header {
    font-family: 'Montserrat', sans-serif;
}

body {
    font-family: "Carter One", sans-serif;
    font-size: 14px;
    line-height: 1.5;
}

main {
    display: grid;
    grid-template-columns: 1fr;
    font-size: 12px;
}

.section1,.section2,.section3 {
    border: 1px solid black;
    margin: 10px;
    border-radius: 10px;
    background-color: #fff7ee;
}

h1 {
    font-size: 24px;
    padding: 10px; 
}

h2 {
    padding-bottom: 20px;
}

h3 {
    background-color: #008d67;
    border-radius: 10px;
    color: #ffffff;
    font-size: 16px;
    border-radius: 10px;
}

h4 {
    font-size: 14px;
}

h3, h4,
.webLink,
.screenshot,
.siteDetails {
    padding: 10px;
}

img {
    width: 200px;
    height: auto;
}

footer{
    font-size: 14px;
    padding: 5px;
}

footer a {
    color: #ffffff;
}

#update {
    color: #ffd1d1;
}