header, main, footer {
    max-width: 1080px;
    margin: 20px auto;
}

header, footer {
    background-color: #008d67;
    border-radius: 10px;
    color: #ffffff;
    text-align: center;
}

header {
    font-family: 'Montserrat', sans-serif;
}

body {
    font-family: "Carter One", sans-serif;
    font-size: 14px;
    line-height: 1.5;
}

main {
    display: grid;
    grid-template-columns: 1fr;
    font-size: 10px;
}

h1 {
    font-size: 35px;
    padding: 20px; 
}

img {
    width: 200px;
    height: auto;
}

footer{
    font-size: 14px;
    padding: 5px;
}

footer a {
    color: #ffffff;
}

#update {
    color: #ffd1d1;
}