body {
    align-items: center;
}

h1 {
    text-align: center;
}

img[data-src] {
    filter: blur(0.1em)
}

img {
    filter: blur(0em);
    transition: filter 0.5s;
}

picture {
    display: grid;
    grid-template-columns: repeat(1,1fr);
}

picture img {
    border: 5px;
    border-style: solid;
    display: block;
    margin-left: auto;
    margin-right: auto;
}