header, footer {
    background-color: #2a5aa8;
    color: #ffffff;
    text-align: center;
    max-width: 100%;
    margin: 0 auto;
}

header {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    font-family: 'Playfair Display', serif;
    padding: 10px;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 1.5;
}

nav {
    clear: left;
    background-color: #ffdc73;
    text-align: center;
}

nav a:hover {
    background-color: #2a5aa8;
    color: #ffffff;
}

nav button {
    background-color: transparent;
    border: none;
    color: #000000;
    font-size: 1rem;
    margin: .5rem;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav li a {
    display: block;
    color: #000000;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    padding: .95rem;
}

nav ul.hide {
    display: none;
}

.active {
    background-color: #2a5aa8;
    color: #ffffff;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

.content {
    background-color: #eeeddd;
    border: 1px dashed #000000;
    color: #373737;
    display: block;
    font-style: italic;
    margin: 10px auto;
    padding: 15px;
}

.headings{
    display: flex;
    flex-direction: column;
}

.motto {
    font-family: 'Open Sans', sans-serif;
    color: #ffffff;
    font-style: italic;
    margin-left: 20px;
    font-size: 20px;
}

h1, h2 {
    font-family: 'Playfair Display', serif;
}

h1 {
    font-size: 40px;
    padding-top: 15px;
    line-height: .75em;
}

h2 {
    font-size: 40px;
    padding-bottom: 15px;
    line-height: .75em;
    text-align: center;
}

main {
    padding: 30px;
}

footer{
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    padding: 5px;
}

footer a {
    color: #ffffff;
}

#update {
    color: #ffffff;
}