.cards {
    display: grid;
    grid-template-columns: auto;
    grid-gap: 10px;
}

h1, footer {
    text-align: center;
    color: #480798;
    font-family: 'Spartan', sans-serif;
}

.cards p {
    display: block;
    width: 100%;
    text-align: center;
    font-family: 'Spartan', sans-serif;
}

.cards h2 {
    text-align: center;
    font-family: 'Spartan', sans-serif;
}

.cards section {
    border: 2px solid #480798;
    background-color: #efe2ff;
    width: 90%;
    margin: auto;
}

.cards img {
    display: block;
    height: 300px;
    box-shadow: 0 0 10px #333;
    margin: 20px auto;
}

@media only screen and (min-width: 37.5em) {
    .cards{
        grid-template-columns: repeat(2, 1fr);
    }

    .cards section {
        width: 100%;
    }
}

@media only screen and (min-width: 60em) {
    .cards {
        grid-template-columns: repeat(4, 1fr);
    }

    .cards section {
        width: 100%;
    }
}