header, footer {
    background-color: #074135;
    color: #ffffff;
    text-align: center;
    max-width: 100%;
    margin: 0 auto;
}

header {
    font-family: 'Roboto', sans-serif;
}

footer {
    font-family: 'Open Sans', sans-serif;
    padding: 3px;
}

body {
    background-color:#cfd1d0;
 }

 main {
    font-family: 'Open Sans', sans-serif;
    padding: 10px;
    text-align: center;
 }

 h2 {
     font-size: 24pt;
     color: #302626;
 }

nav {
    clear: left;
    background-color: #074135;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}

nav a:hover {
    background-color: #cfd1d0;
    color: #000000;
}

nav button {
    background-color: transparent;
    border: none;
    color: #ffffff;
    font-size: 1rem;
    margin: .5rem;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav li a {
    display: block;
    color: #ffffff;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    padding: .95rem;
}

nav ul.hide {
    display: none;
}

.active {
    background-color: #cfd1d0;
    color: #000000;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}


.logo {
   opacity: 0.8;
}

/*Navbar on image code source: w3schools.com*/
.bg-img {
    background-image: url("https://snyjen.github.io/final/images/riverheader.jpg");
    min-height: 380px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.container {
    width: 100%;
}

.topnav {
    overflow: hidden;
    background-color: #074135;
    opacity: 0.8;
}

.weathersummary {
    display: block;
    width: 200px;
    height: 225px;
    background-color: #ffffff;
    opacity: 0.8;
    padding: .5rem;
    box-shadow: 0 0 30px #777;
}

.cards {
    display: grid;
    grid-template-columns: auto;
    grid-gap: 15px;
    
}

.cards section {
    background-color: #ffffff;
    width: 90%;
    margin: auto;
    
}
.cards img {
    display: block;
    width: 100%;
    
}

.cards h3 {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 24pt;
    color:  #302626;
}

.cards h4 {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 12pt;
    font-style: italic;
    color:  #302626;
}

.cards p {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
  
}






