@media only screen and (min-width: 32.5em) {
    h1 {
        font-size: 48px;
    }
    
    body {
        font-size: 16px;
    }

    main {
        grid-template-columns: 1fr 1fr;
        grid-column: span 2;
    }