* {
    margin: 0;
    box-sizing: border-box;
}

header, main, footer {
    max-width: 1080px;
    margin: 20px auto;
}

header, footer {
    background-color: #008d67;
    border-radius: 10px;
    color: #ffffff;
    text-align: center;
}

header {
    font-family: 'Montserrat', sans-serif;
}

body {
    font-family: "Carter One", sans-serif;
    font-size: 14px;
    line-height: 1.5;
}

main {
    display: grid;
    grid-template-columns: 1fr;
    font-size: 14px;
}

section {
    border: 1px solid black;
    margin: 10px;
    border-radius: 10px;
    background-color: #ffedd9;
}

h1 {
    font-size: 24px; 
}

h2 {
    padding-bottom: 10px;
}

h3 {
    background-color: #008d67;
    border-radius: 10px;
    color: #ffffff;
    font-size: 18px;
    border-radius: 10px 10px 0px 0px;
    padding: 10px;
}

h4 {
    font-size: 14px;
    padding: 10px;
}

.webLink,
.screenshot,
.siteDetails {
    padding: 10px;
}

img {
    height: auto;
    width: 90%;
}

footer{
    font-size: 14px;
    padding: 5px;
}

footer a {
    color: #ffffff;
}

#update {
    color: #ffd1d1;
}