header, footer {
    background-color: #2a5aa8;
    color: #ffffff;
    text-align: center;
}

header {
    font-family: 'Montserrat', sans-serif;
    padding-top: 5px;
}

body {
    font-family: "Carter One", sans-serif;
    font-size: 14px;
    line-height: 1.5;
}

nav {
    background-color: #8e9aad;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    line-height: 3em;
}

nav a {
    color: #000000;
    text-decoration: none;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
}

main {
    display: grid;
    grid-template-columns: 1fr;
    font-size: 14px;
}

h1 {
    font-size: 30px; 
    padding-top: 15px;
    line-height: .75em;
}

h2 {
    font-size: 20px;
    padding-bottom: 15px;
    line-height: .75em;
}

img {
    float: left;
    margin-left: 20px;
}

footer{
    font-size: 14px;
    padding: 5px;
}

footer a {
    color: #ffffff;
}

#update {
    color: #ffd1d1;
}